<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="MobileDBConnectionString" connectionString="Data Source=MAROUN-PC;Initial Catalog=MobileDB;User ID=sa;Password=sapassword" providerName="System.Data.SqlClient" />-->
    <add name="MobileDBConnectionString" connectionString="Data Source=DESKTOP-FJPH4GS;Initial Catalog=MobileDB;Persist Security Info=True;User ID=sa;Password=sapassword" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CONN_STR" value="Data Source=DESKTOP-FJPH4GS;Initial Catalog=VictoireSystem;User ID=sa;Password=sapassword" />
    <add key="CONN_STRMobile" value="Data Source=DESKTOP-FJPH4GS;Initial Catalog=MobileDB;User ID=sa;Password=sapassword" />
    <!--<add key="CONN_STR" value="Data Source=VICTOIREWEB\SQLEXPRESS;Initial Catalog=VictoireSystem;User ID=sa;Password=4rfVgy75"/>-->
    <add key="BLC_MESSAGES" value="E:\Victoire Work\VictoireSystem\Messages.xml" />
    <!--<add key="BLC_MESSAGES" value="C:\inetpub\wwwroot\VictoireSystemPublish\Messages.xml"/>-->
    <add key="ENABLE_TICKET" value="0" />
    <add key="VersionNo" value="7302015" />
    <add key="UPLOADED_FILES_MAIN_FOLDER" value="E:\WORK\Sites\IR\IR\images" />
    <add key="ExportedPath" value="D:\\Victoire Work\\VictoireSystem\\WebUI\\ExportedFiles\\" />
    <add key="GaragePicturespath" value="C:\\inetpub\\wwwroot\\Mobile\\CameraGaragePics\\" />
    <add key="ClaimPicturespath" value="C:\\inetpub\\wwwroot\\Mobile\\CameraPics\\" />
    <add key="SharingPathMobileOffers" value="D:\\Victoire Work\\MobileApp\\MobileAppUI\\MobileOffers\\" />
    
    <add key="SixpaymentsPercMed" value="0.06"/>
    <add key="FourPaymentsPercMed" value="0.03"/>
    <add key="ThreePaymentsPercMed" value="0.02"/>
    <add key ="FromLCMPEmail" value ="no-reply@victoire.com.lb"/>
    <add key="ToPAEmail" value="maroun.sawma@victoire.com.lb" />
    <add key="ToMarineEmail" value="maroun.sawma@victoire.com.lb" />
    <add key="ToFireEmail" value="maroun.sawma@victoire.com.lb" />

    <add key="ToITEmail" value="informatique@victoire.com.lb" />
    <add key="CCITEmail" value="maroun.sawma@victoire.com.lb" />

    <!--<add key="ExportedPath" value="C:\\inetpub\\wwwroot\\VictoireSystemPublish\\ExportedFiles\\" />-->
    <add key="EmailPass" value="Noreply#2014" />
    <add key="GarageClaimToEmail" value="maroun.sawma@victoire.com.lb" />
    <add key="FromEmail" value="no-reply@victoire.com.lb" />
    <add key ="GarageClaimCCEmail" value =""/>
    <add key ="GarageClaimBCCEmail" value =""/>
    <add key ="TRAVEL_DISCOUNT" value ="0.23"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="102400" executionTimeout="3600" />
    <pages enableEventValidation ="false"></pages>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <diagnostics>
      <messageLogging logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled ="true" />

    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Service">
        <endpoint address="" binding="webHttpBinding" contract="IService" behaviorConfiguration="ServiceBehavior">

          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>


    <bindings>
      <wsHttpBinding>
        <binding name="mexBinding" maxReceivedMessageSize="2000000000">
          <readerQuotas maxDepth="104857600" maxStringContentLength="999999999" maxArrayLength="999999999"
           maxBytesPerRead="999999999" maxNameTableCharCount="999999999" />
          <reliableSession ordered="true" inactivityTimeout="12:10:00" enabled="false" />
          <!--<security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>-->
          <security mode ="None"></security>

        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>